/** @jsx jsx */
/* import { jsx } from '@emotion/react' */

/* css={css`
    background-color: hotpink;
    &:hover {
      color: ${color};
    }
  `} */

.collapsible {
    cursor: pointer;
}

.filterContainer {
    position: sticky;
    width: 15%;
    margin: left;
    background-color: blue;
    float: left;
}

.btnFilter {
    border: none;
    border-bottom-style: groove;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
}

.input {
    padding: 5px;
    margin-left: 10px;
}