.filterBtn {
  width:35%;
  padding: 10px;
  background-color: grey;
  color: white;
  border: none;
}

.btnFilterType {
    border: none;
    border-bottom-style: groove;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    transition: 0.4s;
}

.btnFilterType:hover {
  color: red;
}

.input {
    padding: 5px;
    margin-left: 10px;
}
