
img {
    border-radius: 50%;
    height:70%;
    justify-content: center;
}
.info {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
}

.info > div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    padding-top:10px;
    overflow: hidden;
    color: rgb(65, 63, 63);
}


