
.match-box > img {
    position: relative;
    margin: 5px;
    border: 1px solid blue;
}

.match-box {
    border: 1px solid red;
    margin: 5px;
}

.info {
    display: flex;
    flex-flow: row wrap;
}

.info > div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: green;
}
