.propertiesBox{
    padding: 5px;
    border-radius: 5px;
}

.basicQuestions{
    margin: 1%;
    padding: 5px;
    list-style-type: none;
}

.advancedQuestions{
    margin: 1%;
    padding: 5px;
    list-style-type: none;


}