.top{
    display: flex;
    justify-content: space-between;
}

.welcomeContainer{
  height: 800px;
  max-width: 80%;
  background-color:rosybrown;
  margin: auto;
}

.top{
    margin-top: 30px;

}
#login{
  width: 100px;
  height: 40px;
  
}
#join{
    width: 200px;
    height: 50px;
    margin-top : 30px;
}
#welcomeText{
    color:white;
    margin-top: 30px;
    font-size:large;
}
body{
    background-color:rosybrown ;
}